<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vtucompanion">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VTUCompanion">
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".feedBackSystem" />
        <activity android:name=".Profile" />
        <activity android:name=".insideStudyMaterials" />
        <activity android:name=".sgpaprog" />
        <activity android:name=".TodoLists" />
        <activity android:name=".inside2vturesults" />
        <activity android:name=".cgpaprog" />
        <activity android:name=".inside1csgpa" />
        <activity android:name=".Insider" />
        <activity android:name=".Registration" />
        <activity android:name=".MainActivity"/>



        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>